<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="msapplication-TileColor" content="#5bc0de" />

    <title>Project Managment</title>

    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/site-style/css")
</head>

<body>
    
    <!-- Top Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top pm-site-navbar" role="navigation">

        <!-- NAVBAR HEADER -->
        <div class="pm-navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided unfolded" data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
        </div>

        <!-- NAVBAR CONTAINER -->
        <div class="navbar-container container-fluid">
            <div class="nav">
                <ul class="nav navbar-toolbar navbar-left">
                    <li>
                        <a href="javascript:void(0)" title="Notifications" role="button">
                            <i class="glyphicon glyphicon-bell" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" title="Messages" role="button">
                            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <!-- NAVBAR RIGHT BUTTONS PANEL -->
                <div class="navbar-right pm-navbar-right">
                    <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                        <li>
                            <div class="button-group">
                                <button class="btn btn-sm btn-default btn-image" type="button">
                                    <img src="http://i.pravatar.cc/150" class="">
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </li>
                    </ul>

                    <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right navbar-toolbar-group"></ul>
                </div>

            </div>
        </div>
    </nav>
    <!-- End Top Navbar -->

    <div class="main-container">
        @RenderBody()       
    </div>
        
    <!-- js placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/core/js")

</body>
</html>


