@model Guid

@using PM.Web.Infrastructure.HtmlHelpers

<!-- SIDE MENU -->
<div class="site-menubar">
    <div class="site-menubar-body">
        <ul class="nav-menu">
            <li>
                @Html.MenuItemLink("Home", "Index", "Dashboard", null, "glyphicon glyphicon-home")
            </li>
            <li>
                @Html.MenuItemLink("Projects", "Projects", "Project", null, "glyphicon glyphicon-th-large")
            </li>

            <li>
                <a href="team.html"><i class="glyphicon glyphicon-user"></i><span>Users</span></a>
            </li>

            @if (Model != Guid.Empty)
            {
                <hr />

                <li>
                    @Html.MenuItemLink("Overview", "Overview", "Project", new { pId = PM.Common.ShortGuid.Encode(Model) }, "glyphicon glyphicon-stats")
                </li>

                <li>
                    <a href="timeline.html"><i class="glyphicon glyphicon-time"></i><span>Timeline</span></a>
                </li>

                <li>
                    <a href="tasks.html"><i class="glyphicon glyphicon-tasks"></i><span>Tasks</span></a>
                </li>

                <li>
                    <a href="team.html"><i class="glyphicon glyphicon-user"></i><span>Team</span></a>
                </li>
            }
            
        </ul>
    </div>
</div>