
@{
    ViewBag.Title = "Task";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<!-- LEFT MENU -->
@Html.Partial("_LeftMenuBar", Guid.Empty)

<!-- PAGE -->
<div class="page">

    <div class="page-content-header">
        <span class="breadcrumbs">
            <a href="index.html">Home</a> /
            <a href="project.html">Ksterle - Project1</a> /
            <a href="tasks.html">Tasks</a> /
            <span>Edit</span>
        </span>
    </div>

    <div class="page-content">

        <!-- TASK LIST -->
        <div class="col-md-9">
            <div class="widget">

                <div class="create-task">

                    <div class="form-group">
                        <label for="task-title" class="">Title</label>
                        <input type="text" id="task-title" class="form-control" placeholder="Enter task title">
                    </div>

                    <div class="form-group">
                        <label for="task-description">Description</label>
                        <textarea rows="4" id="task-description" class="form-control" placeholder="Enter task description"></textarea>
                    </div>

                    <!-- DROPDOWNS -->
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="task-assignee">Assigne to</label>
                                <select id="task-assignee" class="form-control">
                                    <option>ksterle</option>
                                    <option>jdoe</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="task-priority">Priority</label>
                                <select id="task-priority" class="form-control">
                                    <option>Low</option>
                                    <option>Normal</option>
                                    <option>High</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="task-doudate">Dou Date</label>
                                <input id="task-doudate" class="form-control" data-toggle="datepicker" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Filtering widget -->
        <div class="col-md-3">
            <div class="widget">
                <div class="tasks-filter">

                    <p>Status</p>
                    <button class="btn btn-info">In Progress</button>
                    <buttn class="btn btn-info">Resolved</buttn>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h4>Comments</h4>

            <ul class="task-comments">

                <li>
                    <div class="widget">
                        <div class="task-comment">
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago by ksterle</small></p>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="widget">
                        <div class="task-comment">
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago by ksterle</small></p>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="widget">
                        <div class="task-comment">
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago by ksterle</small></p>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="widget">
                        <div class="task-comment">
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago by ksterle</small></p>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="widget">
                        <div id="summernote"></div>
                    </div>
                    <button class="btn btn-md btn-success">Add Comment</button>
                </li>

            </ul>
        </div>
    </div>
</div>

@section Scripts 
{
    @Scripts.Render("~/bundles/task-edit/js")

    <script>

        var elem = '<a href="google.com">Edit Profile.</a>'+
        '<a href="google.com">Logout.</a>';

        $('#meddelanden').popover({animation:true, content:elem, html:true});

        $('[data-toggle="datepicker"]').datepicker({
                autoHide: true,
                startDate: new Date()
            });

        $(document).ready(function() {
            $('#summernote').summernote({
                height: 100,                 // set editor height
            });
        });

    </script>
}

@section Style
{
    @Styles.Render("~/Content/task-edit/css")
}