@model IPagedList<PM.Web.Administration.User.UserPreviewViewModel>
@using GravatarHelper.Extensions
@using PagedList.Mvc
@using PagedList

@foreach (var user in Model)
{
    <div class="col-md-4">
        <div class="widget">
            <div class="block">
                @Html.Gravatar(user.Email, 120, GravatarHelper.Common.GravatarHelper.DefaultImageMysteryMan, new { @class = "img-avatar img-xl pull-left", title = user.UserName })
                <div class="user-widget-div">
                    <div class="user-widget-title">
                        <span>@user.UserName</span>
                    </div>
                    <div class="user-widget-body">
                        <span>Project Manager</span><br />
                        <span>@user.Email</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="widget-footer">
    @Html.PagedListPager(Model, page => Url.Action("TeamList", "Project", new { area = "Administration", pId = ViewBag.PId, page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
           new AjaxOptions()
           {
               HttpMethod = "GET",
               UpdateTargetId = "team-list",
               InsertionMode = InsertionMode.Replace
           }))
</div>