@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<div class="col-lg-12">

    <div class="col-lg-8 ui-sortable">

        <table class="table responsive-table">
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Some user</td>
                    <td>What he done</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>