@model IList<ProjectViewModel>
@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<header class="head">
    <div class="search-bar">
        <form class="main-search" action="">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Live Search ...">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm text-muted" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="main-bar row">
        <div class="col-md-6">
                <h3><i class="fa fa-dashboard"></i>&nbsp; Dashboard</h3>
        </div>
        <div class="col-md-6">
            <div class="bar-right-content pull-right">
                <a href="@Url.Action("NewProject", "Project", new { area = "Administration" })"><h3><i class="fa fa-plus-square"></i>&nbsp; Add</h3></a>
            </div>
        </div>
    </div>
</header>

@Html.Partial("_LeftMenuBar", Guid.Empty)

<div class="right-content">   
    <div class="main-outer">
        <div class="main-inner">
             <ul class="project-table dark">
                @foreach (var project in Model)
                 {
                    <li class="col-lg-2">
                        <div class="project-table-name">
                            <h4>@project.Name</h4>
                        </div>
                        <div class="project-table-body">
                            <div class="percentage-round">
                                30%
                            </div>
                        </div>
                       
                        <a href="@Url.Action("Project", "Project", new { area = "Administration", pId = PM.Common.ShortGuid.Encode(project.Id) })">
                            <div class="footer">
                                OPEN
                            </div>
                        </a>
                        
                    </li>
                }
            </ul>

        </div>
    </div>
</div>


