
@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";
}

<!-- LEFT MENU -->
@Html.Partial("_LeftMenuBar", Guid.Empty)

<!-- ADD NEW PROJECT MODAL -->
<div id="new-project">
    @Html.Partial("_NewProjectModal")
</div>

<!-- PAGE -->
<div class="page">

    <div class="page-content-header">

        <span class="breadcrumbs">
            @Html.ActionLink("Home", "Index", "Dashboard", null, null) /
            <span>Projects</span>
        </span>

        <div class="header-content-right">
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#new-project-modal" data-backdrop="static">Add New</button>                
        </div>
    </div>

    <div class="page-content">

        <div class="col-md-3">
            <div class="widget">
                <div class="block block-project">
                    <a href="javascript:void(0);" class="profile-link"><h3>Ksterle - Project1</h3></a>
                </div>
                <div class="block block-team text-center">
                    <ul>
                        <li>
                            <img class="img-avatar img-sm" src="http://i.pravatar.cc/300" alt="">
                        </li>
                        <li>
                            <img class="img-avatar img-sm" src="http://i.pravatar.cc/300" alt="">
                        </li>
                       
                    </ul>
                </div>

                <div class="block block-profile-footer">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <a href="javascript:void(0);" class="profile-link">
                                <h3>254</h3>
                                <h5>Tasks</h5>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="javascript:void(0);" class="profile-link">
                                <h3>176</h3>
                                <h5>Completed</h5>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="javascript:void(0);" class="profile-link profile-late">
                                <h3>16</h3>
                                <h5>Late</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
                
