@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<div class="row mt">
    <div class="col-lg-12">

        <div class="form-panel">

            <div class="form-horizontal style-form">

               
            </div>

        </div>
    </div>
</div>
