@model IList<ProjectViewModel>
@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<div class="sidemenu-left">
    @Html.Partial("_LeftMenuBar")
</div>

<div class="right-content">
    <div class="main-outer">
        <div class="main-inner">
            <div class="main-content">
                @Html.ActionLink("New Project", "NewProject", "Project", new { area = "Administration" }, new { @class = "btn btn-success btn-lg" })
                <ul class="pricing-table dark">
                    @foreach (var project in Model)
            {
                        <li class="col-lg-2">
                            <h4>@project.Name</h4>
                            <div class="price-body">
                                <div class="price">
                                    30%
                                </div>
                            </div>
                            <div class="features">
                                <ul>
                                    <li>Total tasks: 127</li>
                                    <li>Completed tasks: 45</li>
                                    <li style="color: red">Late: 4</li>
                                </ul>
                            </div>
                            <div class="footer">
                                @Html.ActionLink("Open Project", "Project", "Project", new { area = "Administration", projectId = project.Id }, new { @class = "btn btn-info btn-rect" })
                            </div>
                        </li>
                    }
                </ul>
            </div>
            
        </div>

        

    </div>
    
</div>




