@model PM.Web.Administration.Project.TeamViewModel

@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Team";
}

<!-- LEFT MENU -->
@Html.Partial("_LeftMenuBar", Model.ProjectId)

<!-- PAGE -->
<div class="page">

    <div class="page-content-header">

        <span class="breadcrumbs">
            @Html.ActionLink("Home", "Index", "Dashboard", null, null) /
            @Html.ActionLink(Model.ProjectName, "Overview", "Project", new { pId = PM.Common.ShortGuid.Encode(Model.ProjectId) }, null) /
            <span>Team</span>
        </span>

        <div class="header-content-right">
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#add-user-modal" data-backdrop="static">Add New</button>
        </div>
    </div>

    <div id="users-list" class="page-content">
        @Html.Partial("_TeamList", Model)
    </div> 

</div>

