@Styles.Render("~/Content/bootstrap/css")
@Styles.Render("~/Content/theme/css")

<body style="background:#F7F7F7;">

    <div class="">        
        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    <form>
                        <h1>Registration Form</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="First name" required="">
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Last name" required="">
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="">
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Email" required="">
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="">
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Repeat password" required="">
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Register</a>
                           
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">Already have an account?
                                <a href="#" class=""> Log In </a>
                            </p>
                            <div class="clearfix"></div>
                            <br>
                            <div>
                                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Project Managment</h1>

                                <p>©2015 All Rights Reserved. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
          
        </div>
    </div>

</body>