@model PM.Web.Administration.User.IndexUserViewModel
@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Users";
}

@Html.Partial("_LeftMenuBar", Guid.Empty)

@Html.Partial("_NewUserModal", new PM.Web.Administration.User.CreateUserViewModel())

<!-- PAGE -->
<div class="page">

    <div class="page-content-header">

        <span class="breadcrumbs">
            <a href="index.html">Home</a> /
            <span>Users</span>
        </span>

        <div class="header-content-right">
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#new-user-modal" data-backdrop="static">Add New</button>
        </div>
    </div>

    <div class="page-content">

        @foreach (var user in Model.Users)
        {
            <div class="col-md-4">
                <div class="widget">
                    <div class="block">
                        <img class="img-avatar img-lg pull-left" src="http://i.pravatar.cc/300" alt="">
                        <div style="padding-left: 150px;">
                            <h4>@user.UserName</h4>
                            <p>Project Manager</p>
                            <p>@user.Email</p>
                        </div>
                 
                        <br />
                        <a>projects</a>
                    </div>
                </div>
            </div>
        }

    </div> 

</div>